[MESSAGES CONTROL]
disable=
    C0114,
    C0115,
    C0116,
    C0301,
    C0303,
    C0304,
    E0401,
    R0801,
    R0903,
    R0912,
    R0914,
    W0212,
    W0613

[FORMAT]
max-line-length=120

[BASIC]
good-names=_
